
<%= form_tag tents_path, method: :get do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control string required",
    placeholder: "Find a tent"
  %>
  <%= submit_tag "Search", class: "btn btn-flat" %>
<% end %>


<h2> Discover the tents that fit your needs</h2>
<div class="cardsindex">
  <% @tents.each_with_index do |tent, index| %>
  <div class="cardsflex">
  <div class="cardtentindexlist" style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('<%= cl_image_path tent.photo.key %>')">
      <%= link_to tent.name, tent_path(tent)%>  
    </div>
  </div>
  <% end %>
</div>



<%# search form %>
