<h1 class="text-center"> Create new tent</h1>

<div class="container">
<%= form_for Tent.new do |f| %>
 <div class="row mb-3 justify-content-center"><%= f.label :name %>
   <%= f.text_field :name %></div>
   <div class="row mb-3 justify-content-center"><%= f.label :number_of_couch %>
  <%= f.text_field :number_of_couch %></div>
   <div class="row mb-3 justify-content-center"><%= f.label :season %>
  <%= f.text_field :season %></div>
   <div class="row mb-3 justify-content-center"><%= f.label :weight %>
  <%= f.text_field :weight %></div>
  <div class="row mb-3 justify-content-center"> <%= f.submit %>
  </div>
<% end %>
</div>

