<div class="container">
  <div class="tentform">
    <h1>Create a new tent</h1>
    <%= simple_form_for(@tent) do |f| %>
      <%= f.input :name %>
      <%= f.input :number_of_couch, collection: 1..10 %>
      <%= f.input :season, collection: ["spring/summer", "fall/winter", "4seasons"] %>
      <%= f.input :weight, collection: 1..7 %>
      <%= f.input :photo, as: :file %>
      <%= f.submit class: "btn btn-light btn-lg btn-block"%>
  </div>
    <% end %>
</div>
