<div class="row">
    <div class="col-xs-6">
      <%= cl_image_tag @tent.photo.key, height: 700, width: 600, crop: :fill %>
    </div>

    <div>
      <h1 class="show-h1"><%= @tent.name %></h1>
      <div class="container-booking">
        <ul class="list-booking">
          <li class="list-booking-item-capacity">
            <%= image_tag '', width: 20 %>
            <strong><p>CAPACITY</p></strong>
            <p><%= @tent.number_of_couch %></p>
          </li>
          <li class="list-booking-item-season" >
            <%= image_tag '', width: 20 %>
            <strong><p>SEASON</p></strong>
            <p><%= @tent.season %></p>
          </li>
          <li class="list-booking-item-weight">
              <%= image_tag '', width: 20 %>
              <strong><p>WEIGHT</p></strong>
              <p><%= @tent.weight %></p>
          </li>
        </ul>
        <br>
        <h2>Book your tent</h2>
        <div style="margin-top: 25px">
          <%= simple_form_for [@tent, @booking],
            wrapper: :inline_form,
            html: { class: "form-inline customize-form" },
            wrapper_mappings: {
            boolean: :inline_boolean
            } do |f| %>
            <div>
              <div style="display: flex">
                <%= f.input :start_date_book, as: :string,  input_html: {class: "datepicker item-booking mb-2 mr-sm-2"}, placeholder: 'Start day' %>
                <%= f.input :end_date_book, as: :string,  input_html: {class: "datepicker item-booking mb-2 mr-sm-2"}, placeholder: 'End day' %>
              </div>
              <div class="btnbook" style="display: flex; justify-content: flex-end; margin: 25px 0px"><%= f.submit 'Book', class: "btn btn-success" %></div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
</div>

<div class="wrapper-white">
  <div class="container">
    <h2 class="text-center">Choose another tent:</h2>
    <div class="row">
      <% @tents.each do |tent| %>
        <% if tent != @tent %>
        <div class="col-xs-12 col-md-4 col-sm-3">
          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
            url('<%= cl_image_path tent.photo.key, height: 300, width: 400, crop: :fill %>')">
            <div class="card-category"><%= tent.season %></div>
            <div class="card-description">
              <h2><%= tent.name %></h2>
              <p><%= tent.weight %></p>
            </div>
            <%= link_to '', tent_path(tent), class: "card-link" %>
          </div>
        </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
