<div class="row">
    <div class="col-xs-6">
      <%= cl_image_tag @tent.photo.key, height: 700, width: 600, crop: :fill %>
    </div>

    <div>
      <h1 class="show-h1"><%= @tent.name %></h1>
      <div class="container-booking">
        <ul class="list-booking">
          <li class="list-booking-item-capacity">
            <%= image_tag '', width: 20 %>
            <strong><p>CAPACITY</p></strong>
            <p><%= @tent.number_of_couch %></p>
          </li>
          <li class="list-booking-item-season" >
            <%= image_tag '', width: 20 %>
            <strong><p>SEASON</p></strong>
            <p><%= @tent.season %></p>
          </li>
          <li class="list-booking-item-weight">
              <%= image_tag '', width: 20 %>
              <strong><p>WEIGHT</p></strong>
              <p><%= @tent.weight %></p>
          </li>
        </ul>
        <br>
        <h2>Book your tent</h2>
        <div style="margin-top: 25px">
          <%= simple_form_for [@tent, @booking],
            wrapper: :inline_form,
            html: { class: "form-inline customize-form" },
            wrapper_mappings: {
            boolean: :inline_boolean
            } do |f| %>
            <div>
              <div style="display: flex">
              <p>from :</p>  <%= f.input :start_date_book, input_html: {class: "control-label hidden"} %> <p>to :</p>
                <%= f.input :end_date_book, input_html: {class: "control-label hidden"} %>
              </div>
              <div class="btnbook" style="display: flex; justify-content: flex-end; margin: 25px 0px"><%= f.submit 'Book', class: "btn btn-success" %></div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
</div>

<div class="wrapper-white">
  <div class="container">
    <h2 class="text-center">Choose another tent:</h2>
      <div class="cardsindex">
    <% @tents.each_with_index do |tent, index| %>
    <div class="cardsflex">
    <div class="cardtentindexlist" style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('<%= cl_image_path tent.photo.key %>')">
        <%= link_to tent.name, tent_path(tent)%>
      </div>
    </div>
    <% end %>
  </div>
  </div>
</div>

