<div class="pages-container margin-nav col-6 offset-5">
  <h3>My reservations</h3>
  <div class="cards-grid-3">
    <% if @bookings.empty? %>
      <p>There is no reservation yet...</p>
      <%= link_to tents_path do %>
        <button class="btn btn-success">Find a tent</button>
      <% end %>
    <% else %>
      <% @bookings.each do |booking| %>
        <div class="card-tent">
          <%= link_to booking_path(booking.id) do %>
            <h5><%= cl_image_tag booking.tent.photo.key %></h5>
            <div class="card-tent-content">
              <div class="card-tent-date">
                <p>Booking Date: <%= booking.date_book %></p>
              </div>
              <div>
                <%= link_to tent_path(booking.tent.id) do %>
                  <button class="btn btn-success btn-margin-top">More details</button>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
